#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-select-rooms {
    display: flex;
    flex-direction: column;
}

#username {
    margin-bottom: 10px;
}

#btn-entrar-sala {
    margin-top: 10px;
}

#content-chat {
    display: flex;
    flex-direction: row;
}
#users-online {
    flex-direction: column;
}

#chat {
    width: 100%;
}

#private-chat {
    display: none;
    flex-direction: column;
}


